html{
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
  }
svg {
    width: 100%;
    height: 100%;
}
#soll{
    transform-origin: center center;
    animation: sol_animated 4s infinite linear;
}
#sol-base{
    transform-origin: center center;
    animation: sol_base_animated 4s infinite linear;
}
.luz{
    transform-box: fill-box;
    transform-origin: center center;
    animation: luz_base_animated 4s infinite linear;
}
#luna{
    transform-box: fill-box;
    transform-origin: center center;
    animation: luna_animated 4s infinite linear;
}
.planetas{
    transform-box: fill-box;
    transform-origin: center center;
    animation: planetas_animated 4s infinite linear;
}
.cometas{
    animation: cometas_animated 20s infinite linear;
}
#cometa_helley{
    transform-origin: unset;
    animation: halley_animated 40s infinite linear;
}
@keyframes halley_animated{
    from{
        transform: scale(.001) translate(20%,-30%);
    }
    to{
        transform: scale(1.1) translate(50%,-50%);
    }
}
@keyframes cometas_animated{
    from{
        transform: scale(0.5) translate(-600px,950px);
    }
    to{
        transform: scale(0.5) translate(1050px,-200px);
    }
}
@keyframes planetas_animated{
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.08,1.08);
    }
    100% {
        transform: scale(1,1);
    }
}
@keyframes luna_animated{
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.03,1.03);
    }
    100% {
        transform: scale(1,1);
    }
}
@keyframes luz_base_animated{
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes sol_animated{
    from {
        /* transform: rotate(0deg); */
        transform: scale(1);
    }
    to {
        /* transform: rotate(360deg); */
        transform: scale(1.05);
    }
}
@keyframes sol_base_animated{
    0% { 
        fill: rgb(251, 231, 104); 
    }
  25% { 
    fill: rgb(251, 231, 60); 
    }
  50% { 
    fill: rgb(251, 231, 30); 
    transform:scale(1.05);
    }
  75% { 
    fill: rgb(251, 231, 60); 
    }
  100% { 
      fill: rgb(251, 231, 104); 
    }
}
/* .prooo{
} */
.prooocontent{
    width: 300px;
    height: 200px;
    top: 0%;
    left: 0%;
    position: absolute;
    z-index: 100;
}
#exampleModal{
    font-family:'Dosis', sans-serif;
    font-size: 20px;
}